.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
        "header"
        "gallery"
    ;
}

.gallery header {
    align-items: center;
    display: flex;
    gap: 10px;
    grid-area: header;
    grid-column: 2 / 8;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-right: 1rem;
}

.gallery header h1 {
    --h1-color: #B7BDC4;
    --h1-font-size: 2rem;
    --h1-line-height: 2.5rem;
}

.gallery header a {
    --p-color: hsla(0, 0%, 41%, 1);
    --p-line-height: 1.125rem;
    text-decoration: none;
}

.gallery header a:hover {
    --p-color: var(--color-primary);
}

.gallery ul {
    grid-area: gallery;
    grid-column: 2 / 9;
    max-width: 100%;
    overflow-y: hidden;
}

.gallery ul li:hover {
    opacity: .9;
}

.gallery ul li:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.gallery ul a {
    text-decoration: none;
}

.gallery .cover-image {
    border-radius: 1rem;
    height: 100vh;
    max-height: 400px;
    max-width: 280px;
    overflow: hidden;
    position: relative;
    width: 100vw;    
}

.gallery .cover-image > video {
    object-fit: cover;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    width: 100vw;
}
.gallery .cover-image > img {
    border-radius: 1rem;
    height: 100%;
    object-fit: cover;
    width: 100%;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.gallery .cover-image .ic-play-cover-image {
    align-items: center;
    background-color: hsla(0, 0%, 0%, .2);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    width: 100vw;
}

.gallery .cover-image .ic-play-cover-image img {
    width: auto;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.gallery ul header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}

.gallery ul header h1 {
    --h1-font-size: 1.25rem;
    --h1-line-height: 1.5rem;
}

.gallery ul header p {
    --p-color: hsla(0, 0%, 41%, 1);
    --p-line-height: 1.125rem;
}

.gallery.launch .cover-image {
    max-height: 280px;
    max-width: 384px;
}

.gallery.launch h1 {
    --h1-color: #F6F6F6;
}

.gallery._margin {
    margin-top: -170px;
    position: relative;
    z-index: 4;
}

.gallery.gal-images .cover-image {
    max-height: 255px;
    max-width: 384px;
}

@media screen and (max-width: 932px) {
    .gallery {
        grid-template-columns: 1fr;
        padding: 0 0 0 1rem;
    }

    .gallery header {
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        grid-column: 1/-1;
    }

    .gallery header h1 {
        --h1-font-size: 1.5rem;
        --h1-line-height: 2rem;
    }

    .gallery ul {
        grid-column: 1/-1;
    }

    .gallery.launch .cover-image {
        max-height: 280px;
        max-width: 258px;
    }

    .gallery._margin {
        margin-top: -130px;
    }
}

@media screen and (orientation: landscape) {
    .gallery header {
        align-items: center;
        flex-direction: row;
    }
}