body {
    background-color: var(--color-black);;
}

/* SPACE */
.space {
    display: flex;
    height: 112px;
    width: 100%;
}

/* HIDDEN */
.hidden {
    display: none!important;
    visibility: hidden;
}

/* CONTENT GRID CENTER */
.content-grid-center {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.content-grid-center .space {
    grid-column: 1/-1;
}

/* ACTION CONTROL WHATCH NOW */
.new-stage {
     max-height: calc(100vh - 80px)!important;
}

/* LOADING */
.loading {
    background-color: var(--color-black);
    display: grid;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    position: fixed;
    place-items: center;
    width: 100vw;
    z-index: 99;
}

.content-loading {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-loading img {
    margin-bottom: 10px;
    max-width: 130px;
}

/* BANNER CHOOSE */
.banner-choose {
    height: 100vh;
    max-height: 400px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100vw;
}

.banner-choose::after {
    background: linear-gradient(to bottom,  hsla(210,40%,2%,0) 0%,hsla(210,40%,2%,1) 94%);
    content: "";
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.banner-choose img {
    object-fit: cover;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

/* CHOOSE PLAN */
.choose-plan {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.choose-plan .cards {
    grid-column: 2/8;
}

.choose-plan .cards > header {
    margin-bottom: 1rem;
}

.choose-plan .cards > header h1 {
    --h1-font-size: 2rem;
                text-align: center;
}

.choose-plan .cards ul {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, 384px);
    justify-content: center;
}

.choose-plan .cards ul li section {
    background-color: var(--color-grey-dark-2);
    border: 2px solid var(--color-grey-dark);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.5rem;
    justify-content: space-between;
    min-height: 460px;
    padding: 2rem;
    position: relative;
    overflow: hidden;
}

.choose-plan .cards ul li section.most {
    border-color: var(--color-primary);
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.choose-plan .cards ul li section.most::before {
    align-items: flex-end;
    background-color: var(--color-primary);
    color: var(--color-grey-clear-2);
    content: "Most Selected";
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    height: 80px;
    position: absolute;
    text-align: center;
    justify-content: center;
    -moz-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    padding-bottom: 8px;
    top: -28px;
    right: -74px;
    width: 200px;
}

.choose-plan .cards > ul li section header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.choose-plan .cards > ul li section header h1 {
    --h1-font-size: 1.5rem;
    --h1-line-height: 2rem;
}

.choose-plan .cards > ul li section header h2 {
    --h2-font-size: 1rem;
    --h1-line-height: 1.25rem;
}

.choose-plan .cards > ul li section > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choose-plan .cards > ul li section > div .price {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.choose-plan .cards > ul li section > div .price p {
    --p-color: var(--color-grey-clear-2);
    --p-font-size: 4.5rem;
    --p-line-height: 3.5rem;
    display: flex;
    font-weight: 700;
}

.choose-plan .cards > ul li section > div .price p::before {
    content: attr(data-coin);
    font-size: 1.5rem;
    font-weight: 400;
    margin-right: 1rem;
}

.choose-plan .cards > ul li section > div .price .period {
    color: var(--color-grey-clear-2);
    font-size: 1.5rem;
    line-height: 2rem;
    margin-left: 4px;
}

.choose-plan .cards > ul li section footer button {
    margin-bottom: 1.5rem;
    width: 100%;
}

.choose-plan .cards > ul li section footer p {
    --p-font-size: 1rem;
    --p-line-height: 1.25rem;
    font-weight: 500;
    text-align: center;
}

.choose-plan .cards .options-plan {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
    width: 100%;
}

.choose-plan .cards .options-plan li {
    align-items: center;
    color: var(--color-grey-clear-2);
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0 1.5rem;
}

.choose-plan .cards .options-plan li::before {
    content: url('../images/icons/ic-no-check.svg');
    margin-right: 10px;
    margin-bottom: -5px;
}

.choose-plan .cards .options-plan li.check::before {
    content: url('../images/icons/ic-check.svg');
    margin-left: 2px;
}

/* TESTIMONIALS */
.testimonials {
    grid-column: 2/8;
}

.testimonials > header {
    margin-bottom: 2rem;
    text-align: center;
}

.testimonials > header h1 {
    --h1-font-size: 2rem;
    --h1-line-height: 2.5rem;
}

.testimonials ul {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.testimonials ul section {
    background-color: var(--color-grey-dark-2);
    border: 1px solid var(--color-grey-dark);
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: auto 1fr auto;
    padding: 1.5rem;
}

.testimonials ul section header h1 {
    --h1-font-size: 1.5rem;
    --h1-line-height: 2rem;
}

.testimonials ul section p {
    --p-font-size: 1rem;
    --p-line-height: 1.5rem;
}

.testimonials ul section footer {
    border-top: 1px solid var(--color-grey-dark);
    padding-top: 10px;
    margin-top: 10px;
}

.testimonials ul section footer p {
    font-weight: 600;
}

/* GRID COL 2 */
.grid-col-2 {
    display: flex;
    grid-column: 2/8;
    gap: 1.5rem;
}

/* FORM */
[class^="frm"] {}
[class^="frm"] > div {
    align-items: center;
    border: 1px solid #3D3D3D;
    border-radius: .6rem;
    display: flex;
    margin: 1rem 0;
}

[class^="frm"] > div .ic {
    padding: 1rem;
}

input {
    background-color: transparent;
    border: none;
    color: var(--color-grey-clear-2);
    padding: 1rem 1rem 1rem 0;
    width: 100%;
    outline: none;
    flex: 1;
}

.box-input-2 {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.box-input-2 div {
    flex: 1;
}


/* BOX */
.box {
    background-color: var(--color-grey-dark-2);
    border: 1px solid var(--color-grey-dark);
    border-radius: 1rem;
    grid-column: 2/8;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    width: 100%;
}

.box header {
    margin-bottom: .6rem;
}

.box header h1 {
    --h1-font-size: 1.5rem;
    --h1-line-height: 1.8rem;
}

.box .content-plan {
    align-items: center;
    border: 1px solid var(--color-grey-dark);
    border-radius: 1rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.box .content-plan p {
    --p-color: var(--color-grey-clear-2);
    font-weight: 700;
}

/* GAL IMAGES */
.gal-images {
    grid-column: 1/-1;
}

.gal-images a {
    pointer-events: none;
}

/* DETAILS OPTION PLAN */
.details-option-plan {
    grid-column: 2/8;
    margin-top: 2rem;
}

.details-option-plan ul {
    background-color: var(--color-grey-dark-2);
    border: 1px solid var(--color-grey-dark);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.details-option-plan ul li {
    align-items: center;
    color: var(--color-grey-clear-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details-option-plan ul li::before {
    content: url('../images/icons/ic-no-check.svg');
    margin-right: 10px;
    margin-bottom: 15px;
}

.details-option-plan ul li.check::before {
    content: url('../images/icons/ic-check.svg');
}

/* INNER BANNER */
.inner-banner {
    display: grid;
    position: relative;
    grid-template-columns: repeat(8, 1fr);
    height: 100vh;
    max-height: 400px;
    max-width: 100%;
    overflow: hidden;
    width: 100vw;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.inner-banner video {
    object-fit: cover;
    min-height: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.inner-banner .inner-mask {
    background: linear-gradient(to bottom,  hsla(210,40%,2%,0) 0%,hsla(210,40%,2%,1) 94%);
    height: 100vh;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.inner-banner .controls-banner {
    align-items: flex-end;
    bottom: 3rem;
    display: flex;
    position: relative;
    grid-column: 2/8;
    height: 100vh;
    justify-content: space-between;
    max-height: 400px;
    z-index: 3;
}

.inner-banner .controls-banner div {
    align-items: center;
    display: flex;
    gap: 1rem;
}

/* MOVIE INFOS */
.movie-infos {
    grid-column: 2/8;
    margin-top: 1rem;
}

.movie-infos header {
    margin-bottom: 2rem;
}

.movie-infos header h1 {
    align-items: center;
    display: flex;
    --h1-font-size: 1.5rem;
    --h1-line-height: 3rem;
}

.movie-infos header h1[data-resolution="true"]::after {
    border: 1px solid #A0A0A0;
    border-radius: .4rem;
    color: #A0A0A0;
    content: attr(resolution);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-left: 10px;
    padding: .1rem .6rem;
}

.movie-infos header h2 {
    --h2-color: #A0A0A0;
    --h2-font-size: 1rem;
    --h2-line-height: 1.5rem;
    align-items: center;
    display: flex;
    gap: 10px;
}

.movie-infos header h2[data-news="true"]::before {
    background-color: hsla(47, 100%, 69%, .1);
    border-radius: .2rem;
    content: "Novidade";
    color: #FFDC5F;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: .2rem .8rem;
}

.movie-infos header h2 .ball {
    font-size: 2rem;
    line-height: 0;
}

.movie-infos header h2 .members-view {
    align-items: center;
    display: flex;
    gap: 5px;
}

.movie-infos p {
    --p-font-size: 1rem;
    --p-line-height: 1.5rem;
}

/* MODELS CATEGORY */
.models-category {
    display: grid;
    gap: 1.5rem;
    grid-column: 2/8;
    grid-template-columns: 300px 1fr;
}

.models-category .highlight header {
    margin-bottom: 10px;
}

.models-category .highlight header h1 {
    --h1-font-size: 1rem;
    --h1-line-height: 1.5rem;
}

.models-category .highlight figure img {
    border-radius: .6rem;
    object-fit: cover;
    height: 100vh;
    max-height: 400px;
    max-width: 280px;
    width: 100vw;
}

.models-category .highlight figure figcaption {
    --p-font-size: 1.2rem;
    --p-line-height: 1.5rem;

    margin-top: 10px; 
}

.models-category .more-category header {
    margin-bottom: 10px;
}

.models-category .more-category header h1 {
    --h1-font-size: 1rem;
    --h1-line-height: 1.5rem;
}

.models-category .more-category ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.models-category .more-category ul li {
    background-color: hsla(0, 0%, 96%, .1);
    border-radius: .4rem;
}

.models-category .more-category ul li:hover {
    opacity: .9;
}


.models-category .more-category ul li a {
    color: #6D6D6D;
    display: flex;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    padding: .6rem 1rem;
}

/* TEMPLATE GRID */
.template-grid {
    background-color: var(--color-black);
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    max-height: 100%;
    max-width: 100%;
    width: 100vw;
}

.template-grid > header {
    align-items: center;
    background-color: var(--color-black);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-area: header;
    grid-column: 1/-1;
    justify-content: space-between;
    padding: 1.2rem 0;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.header-center {
    align-items: center;
    display: flex;
    grid-column: 2/8;
    justify-content: space-between;
    width: 100%;
}

.template-grid > header .logo img {
    max-width: 100px;
}

.template-grid > header nav {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.template-grid > main {
    grid-area: main;
    grid-column: 1/ -1;
}

.template-grid > main .container-banner {
    align-items: center;
    display: flex;
    height: calc(100vh - 80px);
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100vw;
}

.template-grid > main .container-banner .banner {
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    max-height: 100%;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    width: 100vw;
}

.template-grid > main .container-banner .banner .mask {
    background: linear-gradient(to right, hsla(0,0%,0%,0.8) 20%,hsla(0,0%,0%,0) 100%);
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 100vw;
    z-index: 2;
}

.template-grid > main .container-banner .banner img {
    object-fit: cover;
    height: 100%;
    left: 0;
    min-height: 100vh;
    max-width: 100%;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.template-grid > main .container-banner .banner video {
    object-fit: cover;
    min-height: 100vh;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.template-grid > main .container-banner .banner header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 2/5;
    grid-row: 3/5;
    justify-content: flex-start;
    position: relative;
    z-index: 3;
}

.template-grid > main .container-banner .banner header button {
    margin-top: 20px;
}

.template-grid > footer {
    border-top: 1px solid var(--color-border);
    grid-area: footer;
    grid-column: 2/8;
    padding: 2.5rem 0;
}

.template-grid footer ._complementary {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.template-grid footer ._complementary .logo img {
    max-width: 100px;
}

.template-grid footer ._complementary .go-top button {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    font-weight: 500;
    gap: 1rem;
    justify-content: flex-end;
    line-height: 1.125rem;
}

.template-grid footer ._complementary .go-top button:hover {
    cursor: pointer;
    opacity: .8;
}

.template-grid footer ._copy {
    align-items: center;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

.template-grid footer ._copy .social-group {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.template-grid footer ._copy .social-group ul {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.template-grid footer ._copy .social-group ul li a svg {
    width: 24px;
}

.template-grid footer ._copy .social-group ul li a:hover svg {
    opacity: .8;
}

/* BG MODEL */
.bg-model {
    /* background-attachment: fixed; */
    /* background-position: top; */
    background-size: cover;
    /* height: 100vh; */
    /* max-height: 640px; */
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100vw;
}

.bg-model picture img{
    width: 100%;
}

.bg-model::after {
    background-color: hsla(0,0%,0%,0.3);
    content: "";
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 100vw;
    z-index: 1;
}

/* ABOUT */
.about {
    align-items: center;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(8, 1fr);
    padding: 4rem 0;
}

.about .images-grid {
    grid-column: 2/5;
}

.about .images-grid .grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 100px);
    overflow: hidden;
}

.about .images-grid .grid img {
    border-radius: 1rem;
    object-fit: cover;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    width: 100vw;
}

.about .images-grid .grid #img-grid-1 {
    grid-column: 1/3;
    grid-row: 1/7;
}

.about .images-grid .grid #img-grid-2 {
    grid-column: 3/-1;
    grid-row: 2/4;
}

.about .images-grid .grid #img-grid-3 {
    grid-column: 3/-1;
    grid-row: 4/7;
}

.about header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 5/8;
    justify-content: flex-start;
}

.about header h1 {
    --h1-color: #B7BDC4;
}

.about header button {
    margin-top: 20px;
}

/* MODAL - PAYMENT STATUS */
.modal-payment-status {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

.modal-payment-status .mask {
    background-color: hsla(0,0%,0%,0.8);
    height: 100vh;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.modal-payment-status section {
    background-color: var(--color-black);
    border-radius: 1rem;
    max-height: 500px;
    max-width: 640px;
    padding: 1.5rem;
    position: relative;
    z-index: 3;
    width: 100%;
}

.modal-payment-status section nav {
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}

.modal-payment-status section nav img {
    margin: 0 auto;
    max-width: 80px;
}

.modal-payment-status section nav a {
    color: #5D5D5D;
    text-decoration: none;
}

/* .modal-payment-status section header {
    overflow: scroll;
    height: 100vh;
    max-height: 170px;
} */

.modal-payment-status section header h1 {
    --h1-font-size: 1.125rem;
    --h1-line-height: 1.375rem;
}

.modal-payment-status section footer {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.modal-payment-status section footer button {
    flex: 1;
}

[data-callBack="true"].card {
    background-color: hsla(115, 71%, 11%, .6);
}
[data-callBack="true"].example-2::before {
    background: linear-gradient(
        90deg,
        hsla(116, 85%, 59%, 0) 0%,
        hsla(116, 85%, 59%, 1) 50%,
        hsla(116, 85%, 59%, 0) 100%
    );
}
[data-callBack="true"].example-2 .tick {
    display: block;
}
[data-callBack="true"].example-2 .close {
    display: none;
}
  
[data-callBack="false"].card {
    background-color: hsla(354, 53%, 15%, .6);
}
[data-callBack="false"].example-2::before {
    background: linear-gradient(
      90deg,
      hsla(353, 86%, 54%, 0) 0%,
      hsla(353, 86%, 54%, 1) 50%,
      hsla(353, 86%, 54%, 0) 100%
    );
}
[data-callBack="false"].example-2 .tick {
    display: none;
}
[data-callBack="false"].example-2 .close {
    display: block;
}
  
.card {
    background-color: rgba(102, 102, 102, .2);
    height: 100vh;
    max-height: 90px;
    max-width: 90px;
    width: 100vw;
    border-radius: 100%;
    padding: 4px;
    margin-bottom: 30px;
}
  
.card .inner {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    width: 100vw;
    background: #161616;
    color: #fff;
    border-radius: 100%;
    border: 5px solid var(--color-black);
}
  
.example-2 {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.example-2 .inner {
    position: relative;
    z-index: 1;
    width: 100%;
}
  
.example-2 .inner svg {
    fill: #565656;
    width: 20px;
}
  
.example-2::before {
    content: "";
    display: block;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(102, 102, 102, 1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    height: 100%;
    width: 100%;
    transform: translate(0);
    position: absolute;
    animation: rotate 5s linear forwards infinite;
    z-index: 0;
    top: 50%;
    transform-origin: top center;
}
  
@keyframes rotate {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

.content-payment-status {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.content-payment-status h1 {
    font-size: 1.5rem;
}

.content-payment-status p {
    font-size: 1rem;
    margin-top: 8px;
}

/* MODAL - ACCESS INFORMATION */
.modal-access-info {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

.modal-access-info .mask {
    background-color: hsla(0,0%,0%,0.8);
    height: 100vh;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.modal-access-info section {
    background-color: var(--color-black);
    border-radius: 1rem;
    max-height: 500px;
    max-width: 640px;
    padding: 1.5rem;
    position: relative;
    z-index: 3;
}

.modal-access-info section nav {
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}

.modal-access-info section nav img {
    margin: 0 auto;
    max-width: 80px;
}

.modal-access-info section nav a {
    color: #5D5D5D;
    text-decoration: none;
}

/* .modal-access-info section header {
    overflow: scroll;
    height: 100vh;
    max-height: 170px;
} */

.modal-access-info section header h1 {
    --h1-font-size: 1.125rem;
    --h1-line-height: 1.375rem;
}

.modal-access-info section footer {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.modal-access-info section footer button {
    flex: 1;
}

/* MODAL - ACCESS */
.modal-access {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

.modal-access .mask {
    background-color: hsla(0,0%,0%,0.8);
    height: 100vh;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.modal-access section {
    background-color: var(--color-black);
    border-radius: 1rem;
    max-height: 500px;
    max-width: 480px;
    padding: 1.5rem;
    position: relative;
    width: 100%;
    z-index: 3;
}

.modal-access section nav {
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}

.modal-access section nav img {
    margin: 0 auto;
    max-width: 80px;
}

.modal-access section nav a {
    color: #5D5D5D;
    text-decoration: none;
}

.modal-access section header {
    overflow: scroll;
    height: 100vh;
    max-height: 170px;
}

.modal-access section header h1 {
    --h1-font-size: 1.125rem;
    --h1-line-height: 1.375rem;
}

.modal-access section footer {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.modal-access section footer button {
    flex: 1;
}

.modal-access .others-action {
    align-items: center;
    border: none;
    display: flex;
    justify-content: space-between;
}

.modal-access .others-action div {
    align-items: center;
    display: flex;
    gap: 10px;
    color: var(--color-grey-clear-2);
    justify-content: flex-start;
}

.modal-access .others-action div input {}

.modal-access .others-action div a {
    color: var(--color-grey-clear-2);
    text-decoration: none;
}

.modal-access .buttons {
    border: none;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.modal-access #frm-register .buttons {
    grid-template-columns: 1fr;
}

.select {
    position: relative;
}
  
.select__input {
    appearance: none;
    background-color: transparent;
    border: 1px solid var(--color-grey-dark);
    color: #FFFFFF;
    margin: 0;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    padding: 1rem calc(var(--select-icon-size) + var(--select-icon-margin) + var(--select-text-icon-gap));
    -webkit-user-select: none;
            user-select: none;
    border-radius: 0.5em;
}
select option {
    color: #161616;
}
  
.select__arrow,
.select__flag {
    display: inline-block;
    width: var(--select-icon-size);
    height: var(--select-icon-size);
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
  
.select__arrow {
    color: var(--color-grey-dark);
    right: var(--select-icon-margin);
}
  
.select__flag {
    left: var(--select-icon-margin);
    background-position: center;
    background-repeat: no-repeat;
    background-size: var(--select-icon-size);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg%3E%3Cpath d='M16 0c-8.8 0-16 7.2-16 16s7.2 16 16 16 16-7.2 16-16-7.2-16-16-16z m11.8 14h-3.8c-0.2-3-0.8-5.8-1.6-8.2 2.8 1.8 4.8 4.8 5.4 8.2z m-11.8 14c-1.2 0-3.6-3.8-4-10h8c-0.4 6.2-2.8 10-4 10z m-4-14c0.4-6.2 2.6-10 4-10s3.6 3.8 4 10h-8z m-2.2-8.2c-1 2.4-1.6 5.2-1.8 8.2h-3.8c0.6-3.4 2.6-6.4 5.6-8.2z m-5.6 12.2h3.8c0.2 3 0.8 5.8 1.6 8.2-2.8-1.8-4.8-4.8-5.4-8.2z m18 8.2c1-2.4 1.4-5.2 1.6-8.2h3.8c-0.4 3.4-2.4 6.4-5.4 8.2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
  
.select:has(option[value="IT"]:checked) .select__flag {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg%3E%3Cpath fill='%23fff' d='M10 4H22V28H10z'%3E%3C/path%3E%3Cpath d='M5,4h6V28H5c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z' fill='%2341914d'%3E%3C/path%3E%3Cpath d='M25,4h6V28h-6c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z' transform='rotate(180 26 16)' fill='%23bf393b'%3E%3C/path%3E%3Cpath d='M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z' opacity='.15'%3E%3C/path%3E%3Cpath d='M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z' fill='%23fff' opacity='.2'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
  
.select:has(option[value="ES"]:checked) .select__flag {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg%3E%3Cpath fill='%23f1c142' d='M1 10H31V22H1z'%3E%3C/path%3E%3Cpath d='M5,4H27c2.208,0,4,1.792,4,4v3H1v-3c0-2.208,1.792-4,4-4Z' fill='%23a0251e'%3E%3C/path%3E%3Cpath d='M5,21H27c2.208,0,4,1.792,4,4v3H1v-3c0-2.208,1.792-4,4-4Z' transform='rotate(180 16 24.5)' fill='%23a0251e'%3E%3C/path%3E%3Cpath d='M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z' opacity='.15'%3E%3C/path%3E%3Cpath d='M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z' fill='%23fff' opacity='.2'%3E%3C/path%3E%3Cpath d='M12.614,13.091c.066-.031,.055-.14-.016-.157,.057-.047,.02-.15-.055-.148,.04-.057-.012-.144-.082-.13,.021-.062-.042-.127-.104-.105,.01-.068-.071-.119-.127-.081,.004-.068-.081-.112-.134-.069-.01-.071-.11-.095-.15-.035-.014-.068-.111-.087-.149-.028-.027-.055-.114-.057-.144-.004-.03-.047-.107-.045-.136,.002-.018-.028-.057-.044-.09-.034,.009-.065-.066-.115-.122-.082,.002-.07-.087-.111-.138-.064-.013-.064-.103-.087-.144-.036-.02-.063-.114-.075-.148-.017-.036-.056-.129-.042-.147,.022-.041-.055-.135-.031-.146,.036-.011-.008-.023-.014-.037-.016,.006-.008,.01-.016,.015-.025h.002c.058-.107,.004-.256-.106-.298v-.098h.099v-.154h-.099v-.101h-.151v.101h-.099v.154h.099v.096c-.113,.04-.169,.191-.11,.299h.002c.004,.008,.009,.017,.014,.024-.015,.002-.029,.008-.04,.017-.011-.067-.106-.091-.146-.036-.018-.064-.111-.078-.147-.022-.034-.057-.128-.046-.148,.017-.041-.052-.131-.028-.144,.036-.051-.047-.139-.006-.138,.064-.056-.033-.131,.017-.122,.082-.034-.01-.072,.006-.091,.034-.029-.047-.106-.049-.136-.002-.03-.054-.117-.051-.143,.004-.037-.059-.135-.04-.149,.028-.039-.06-.14-.037-.15,.035-.053-.043-.138,0-.134,.069-.056-.038-.137,.013-.127,.081-.062-.021-.125,.044-.104,.105-.05-.009-.096,.033-.096,.084h0c0,.017,.005,.033,.014,.047-.075-.002-.111,.101-.055,.148-.071,.017-.082,.125-.016,.157-.061,.035-.047,.138,.022,.154-.013,.015-.021,.034-.021,.055h0c0,.042,.03,.077,.069,.084-.023,.048,.009,.11,.06,.118-.013,.03-.012,.073-.012,.106,.09-.019,.2,.006,.239,.11-.015,.068,.065,.156,.138,.146,.06,.085,.133,.165,.251,.197-.021,.093,.064,.093,.123,.118-.013,.016-.043,.063-.055,.081,.024,.013,.087,.041,.113,.051,.005,.019,.004,.028,.004,.031,.091,.501,2.534,.502,2.616-.001v-.002s.004,.003,.004,.004c0-.003-.001-.011,.004-.031l.118-.042-.062-.09c.056-.028,.145-.025,.123-.119,.119-.032,.193-.112,.253-.198,.073,.01,.153-.078,.138-.146,.039-.104,.15-.129,.239-.11,0-.035,.002-.078-.013-.109,.044-.014,.07-.071,.049-.115,.062-.009,.091-.093,.048-.139,.069-.016,.083-.12,.022-.154Zm-.296-.114c0,.049-.012,.098-.034,.141-.198-.137-.477-.238-.694-.214-.002-.009-.006-.017-.011-.024,0,0,0-.001,0-.002,.064-.021,.074-.12,.015-.153,0,0,0,0,0,0,.048-.032,.045-.113-.005-.141,.328-.039,.728,.09,.728,.393Zm-.956-.275c0,.063-.02,.124-.054,.175-.274-.059-.412-.169-.717-.185-.007-.082-.005-.171-.011-.254,.246-.19,.81-.062,.783,.264Zm-1.191-.164c-.002,.05-.003,.102-.007,.151-.302,.013-.449,.122-.719,.185-.26-.406,.415-.676,.73-.436-.002,.033-.005,.067-.004,.101Zm-1.046,.117c0,.028,.014,.053,.034,.069,0,0,0,0,0,0-.058,.033-.049,.132,.015,.152,0,0,0,.001,0,.002-.005,.007-.008,.015-.011,.024-.219-.024-.495,.067-.698,.206-.155-.377,.323-.576,.698-.525-.023,.015-.039,.041-.039,.072Zm3.065-.115s0,0,0,0c0,0,0,0,0,0,0,0,0,0,0,0Zm-3.113,1.798v.002s-.002,0-.003,.002c0-.001,.002-.003,.003-.003Z' fill='%239b8028'%3E%3C/path%3E%3Cpath d='M14.133,16.856c.275-.65,.201-.508-.319-.787v-.873c.149-.099-.094-.121,.05-.235h.072v-.339h-.99v.339h.075c.136,.102-.091,.146,.05,.235v.76c-.524-.007-.771,.066-.679,.576h.039s0,0,0,0l.016,.036c.14-.063,.372-.107,.624-.119v.224c-.384,.029-.42,.608,0,.8v1.291c-.053,.017-.069,.089-.024,.123,.007,.065-.058,.092-.113,.083,0,.026,0,.237,0,.269-.044,.024-.113,.03-.17,.028v.108s0,0,0,0v.107s0,0,0,0v.107s0,0,0,0v.108s0,0,0,0v.186c.459-.068,.895-.068,1.353,0v-.616c-.057,.002-.124-.004-.17-.028,0-.033,0-.241,0-.268-.054,.008-.118-.017-.113-.081,.048-.033,.034-.108-.021-.126v-.932c.038,.017,.073,.035,.105,.053-.105,.119-.092,.326,.031,.429l.057-.053c.222-.329,.396-.743-.193-.896v-.35c.177-.019,.289-.074,.319-.158Z' fill='%239b8028'%3E%3C/path%3E%3Cpath d='M8.36,16.058c-.153-.062-.39-.098-.653-.102v-.76c.094-.041,.034-.115-.013-.159,.02-.038,.092-.057,.056-.115h.043v-.261h-.912v.261h.039c-.037,.059,.039,.078,.057,.115-.047,.042-.108,.118-.014,.159v.873c-.644,.133-.611,.748,0,.945v.35c-.59,.154-.415,.567-.193,.896l.057,.053c.123-.103,.136-.31,.031-.429,.032-.018,.067-.036,.105-.053v.932c-.055,.018-.069,.093-.021,.126,.005,.064-.059,.089-.113,.081,0,.026,0,.236,0,.268-.045,.024-.113,.031-.17,.028v.401h0v.215c.459-.068,.895-.068,1.352,0v-.186s0,0,0,0v-.108s0,0,0,0v-.107s0,0,0,0v-.107s0,0,0,0v-.108c-.056,.002-.124-.004-.169-.028,0-.033,0-.241,0-.269-.055,.008-.119-.018-.113-.083,.045-.034,.03-.107-.024-.124v-1.29c.421-.192,.383-.772,0-.8v-.224c.575,.035,.796,.314,.653-.392Z' fill='%239b8028'%3E%3C/path%3E%3Cpath d='M12.531,14.533h-4.28l.003,2.572v1.485c0,.432,.226,.822,.591,1.019,.473,.252,1.024,.391,1.552,.391s1.064-.135,1.544-.391c.364-.197,.591-.587,.591-1.019v-4.057Z' fill='%23a0251e'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.select:has(option[value="PT"]:checked) .select__flag {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg%3E%3Cpath d='M5,4H13V28H5c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z' fill='%232b6519'%3E%3C/path%3E%3Cpath d='M16,4h15V28h-15c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z' transform='rotate(180 21.5 16)' fill='%23ea3323'%3E%3C/path%3E%3Cpath d='M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z' opacity='.15'%3E%3C/path%3E%3Cpath d='M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z' fill='%23fff' opacity='.2'%3E%3C/path%3E%3Ccircle cx='12' cy='16' r='5' fill='%23ff5'%3E%3C/circle%3E%3Cpath d='M14.562,13.529l-5.125-.006v3.431h0c.004,.672,.271,1.307,.753,1.787,.491,.489,1.132,.759,1.805,.759,.684,0,1.328-.267,1.813-.75,.485-.484,.753-1.126,.753-1.808v-3.413Z' fill='%23ea3323'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.select:has(option[value="BR"]:checked) .select__flag {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><rect x="1" y="4" width="30" height="24" rx="4" ry="4" fill="%23459a45"></rect><path d="M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z" opacity=".15"></path><path d="M3.472,16l12.528,8,12.528-8-12.528-8L3.472,16Z" fill="%23fedf00"></path><circle cx="16" cy="16" r="5" fill="%230a2172"></circle><path d="M14,14.5c-.997,0-1.958,.149-2.873,.409-.078,.35-.126,.71-.127,1.083,.944-.315,1.951-.493,2.999-.493,2.524,0,4.816,.996,6.519,2.608,.152-.326,.276-.666,.356-1.026-1.844-1.604-4.245-2.583-6.875-2.583Z" fill="%23fff"></path><path d="M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z" fill="%23fff" opacity=".2"></path></svg>');
}

.select:has(option[value="EN"]:checked) .select__flag {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><rect x="1" y="4" width="30" height="24" rx="4" ry="4" fill="%23fff"></rect><path d="M1.456,6.182H30.544c-.664-1.29-1.993-2.182-3.544-2.182H5c-1.551,0-2.88,.892-3.544,2.182Z" fill="%23b12532"></path><path fill="%23b12532" d="M1 8.364H31V10.546000000000001H1z"></path><path fill="%23b12532" d="M1 12.727H31V14.909H1z"></path><path fill="%23b12532" d="M1 17.091H31V19.273H1z"></path><path fill="%23b12532" d="M1 21.454H31V23.636H1z"></path><path d="M30.544,25.818H1.456c.664,1.29,1.993,2.182,3.544,2.182H27c1.551,0,2.88-.892,3.544-2.182Z" fill="%23b12532"></path><path d="M5,4h6.909V14.909H1v-6.909c0-2.208,1.792-4,4-4Z" fill="%230b2364"></path><path d="M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z" opacity=".15"></path><path fill="%23fff" d="M7.455 10.043L9.074 8.867 7.073 8.867 6.455 6.964 5.836 8.867 3.836 8.867 5.454 10.043 4.836 11.945 6.455 10.769 8.073 11.945 7.455 10.043z"></path><path d="M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z" fill="%23fff" opacity=".2"></path></svg>');
}

.new-group-buttons {
    display: flex;
}

/* CHANGE LANGUAGE */
.change-language {
    background-color: #030507;
    bottom: 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    max-width: 932px;
    width: 100%;
    padding: 1rem;
    position: fixed;
    z-index: 9;
}
.change-language .current-language {
    align-items: center;
    display: flex;
    gap: 1rem;
}
.change-language .current-language button.close {
    display: none;
}
.change-language .current-language p.style {
    font-size: 1rem;
    color: #ffffff;
}

@media (max-width: 932px) {
    /* SPACE */
    .space {
        height: 50px;
    }

    /* CONTENT GRID CENTER */
    .content-grid-center {
        padding: 0 1rem;
    }

    /* CHOOSE PLAN */
    .choose-plan {
        padding: 1.5rem 1rem;
    }

    .choose-plan .cards{
        grid-column: 1/-1;
    }

    .choose-plan .cards ul {
        grid-template-columns: 1fr;
    }

    /* INNER BANNER */
    .inner-banner .controls-banner {
        grid-column: 1/-1;
        padding: 0 1rem;
    }

    /* MOVIE INFOS */
    .box,
    .movie-infos {
        grid-column: 1/-1;
    }

    .movie-infos h2 {
        font-size: 0.75rem;
    }

    .movie-infos h2[data-news="true"]::before {
        font-size: 0.75rem;
    }

    /* MODELS CATEGORY */
    .models-category {
        grid-column: 1/-1;
        grid-template-columns: 1fr;
    }

    .models-category .highlight  figure img {
        max-width: 100%;
    }

    /* TEMPLATE GRID */
    .template-grid {
        grid-template-columns: 1fr; 
    }

    .template-grid > header {
        grid-column: 1/ -1;
        padding: 1rem 1rem;
    }

    .template-grid > header .log img,
    .template-grid footer .logo img {
        max-width: 80px;
    }

    .template-grid > main .banner {
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr; */
        padding: 0 1rem;
    }

    .template-grid > main .banner > header {
        grid-column: 1/-1!important;
        grid-row: 3/4!important;
    }

    .template-grid > footer {
        grid-column: 1/ -1;
        padding: 2.5rem 1rem;
    }

    .template-grid footer ._copy,
    .template-grid footer .social-group {
        flex-direction: column;
    }

    .template-grid footer .social-group {
        margin-top: .4rem;
        gap: .4rem!important;
    }

    /* TESTIMONIALS */
    .testimonials,
    .details-option-plan {
        grid-column: 1/-1;
    }

    .testimonials header h1,
    .testimonials ul section header h1 {
        --h1-font-size: 1.25rem;
    }

    /* GRID COL 2 */
    .grid-col-2 {
        grid-column: 1/-1;
        flex-direction: column;
        gap: 0;
    }

    /* BG MODEL */
    .bg-model {
        /* background-attachment: local; */
        background-position: center;
    }

    /* ABOUT */
    .about {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }

    .about .images-grid {
        grid-column: 1/-1;
        order: 2;
    }

    .about .images-grid .grid {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 100px);
        overflow: hidden;
    }

    .about .images-grid .grid #img-grid-1 {
        grid-column: 1/-1;
        grid-row: 1/3;
    }

    .about .images-grid .grid #img-grid-2 {
        grid-column: 1/3;
        grid-row: 3/5;
    }

    .about .images-grid .grid #img-grid-3 {
        grid-column: 3/5;
        grid-row: 3/5;
    }

    .about header {
        grid-column: 1/-1;
    }

    /* BOX */
    .box .content-plan > * {
        text-align: center;
        width: 100%;
    }

    .box button {
        width: 100%;
    }

    .modal-access-info section header {
        overflow: scroll;
        height: 100vh;
        max-height: 170px;
    }

    /* CHANGE LANGUAGE */
    .change-language {
        max-width: calc(100% - 32px);
    }
    
}

@media screen and (max-width: 540px) {
    /* BG MODEL */
    .bg-model {
        /* background-attachment: local; */
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        /* max-height: 230px; */
    }

    .template-grid > header {
        position: relative;
    }

    .template-grid > header .header-center {
        grid-column: 1/-1;
    }

    .group-buttons {
        display: none!important;
    }

    /* CHANGE LANGUAGE */
    .change-language {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
    }
    .change-language .current-language {
        justify-content: space-between;
        width: 100%;
    }
    .change-language .current-language button.close {
        display: flex;
    }
    .change-language .group-button button.close {
        display: none;
    }
    .change-language .group-button,
    .change-language .group-button button {
        width: 100%;
    }
}

@media screen and (orientation: landscape) {
    /* TEMPLATE GRID */
    .template-grid main .container-banner {
        height: 100vh;
    }

    .template-grid main .banner {
        height: 100vh;
        max-height: 100%;
    }

    .template-grid main .banner .mask {
        height: 100vh;
        max-height: 100%;
    }
}